ipython==8.12.3
kagglehub==0.3.12
librosa==0.10.1.post2
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
protobuf==4.25.3
scikit-learn==1.4.2
seaborn==0.13.2
soundfile==0.12.1
onnxruntime==1.17.1
streamlit==1.34.0
